
{% extends "layout.html" %}
{% block content %}
<a class="test-css" href="/">登录界面</a>
<a class="test-css" href="/index/registration">帐号申请</a>

<form action="/index/rlogin" method="POST" class="form">
    <fieldset class="login-table">
        <legend>新用户注册</legend>
        <div class="login-div">
            <label>帐号：</label>
            <input type="text" name="student_id" class="" placeholder="请输入学号">
        </div>
        <div class="login-div">
            <label>密码：</label>
            <input type="password" name="password" class="" placeholder="请输入密码">
        </div>
        <div class="login-div">
            <label>确认：</label>
            <input type="password" name="password2" class="" placeholder="请再次输入密码">
        </div>
        <div class="login-div">
            <button type="submit" class="registration-submit">注册并登录</button>
        </div>
    </fieldset>
</form>
{% endblock %}