{% extends "layout.html" %}
{% block content %}
<link href="/app/views/style/user.css" rel="stylesheet" type="text/css"/>

<h1>user</h1>
<form action="{{info.href}}" method="POST" class="form">
    <fieldset class="user-table">
        <legend>{{info.id}}您好！</legend>
        <input type="hidden" name="user_id" value="{{info.id}}" />
        <div class="user-div">
            <label>目前您的党组织转移情况是：</label>
            <textarea class="stream-show" readonly>{{info.info}}</textarea>
        </div>
        <div class="user-div">
            <button type="submit" class="user-submit">{{ info.btn }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}